aioredis==2.0.1
anyio==3.4.0
asgiref==3.4.1
async-timeout==4.0.2
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
colorama==0.4.4
ecdsa==0.17.0
fastapi==0.70.1
greenlet==1.1.2
h11==0.12.0
idna==3.3
loguru==0.5.3
mysqlclient==2.1.0
orjson==3.6.5
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
python-jose==3.3.0
python-multipart==0.0.5
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
typing_extensions==4.0.1
uvicorn==0.16.0
win32-setctime==1.0.4
