<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="/user/" enctype="application/x-www-form-urlencoded" method="post">-->
<!--  <label>username</label>-->
<!--  <br>-->
<!--  <input type="text" name="username">-->
<!--  <br>-->
<!--  <label>password</label>-->
<!--  <br>-->
<!--  <input type="text" name="password">-->
<!--  <br><br>-->
<!--  <input type="submit">-->
<!--</form>-->
<form action="/files/" enctype="multipart/form-data" method="post">
  <input type="file" name="files_list" multiple> <br><br>
  <input type="file" name="files_name" multiple> <br><br>
  <input type="submit" value="点击这里显示文件名与大小">
</form>

<br><br><br>

<form action="/create_file/" enctype="multipart/form-data" method="post">
  <input type="file" name="file" multiple> <br><br>
  <input type="file" name="fileb" multiple> <br><br>
  <input type="file" name="notes" multiple> <br><br>
  <input type="submit" value="点击这里显示文件属性">
</form>
</body>
</html>